
.body{
    height: 100vh;
    margin: 0;
}
.banner{
    
    height: 100%;
    width: 100% ;

}
.registrar{
    position: absolute;
   right: 0;

}
.login{
    position: absolute;
    right: 120px;
   
}
body{

    background: url(https://img.freepik.com/vetores-gratis/projeto-do-fundo-multicolor_1117-99.jpg?w=360);
    border: 0;
    padding: 0;
    margin: 0;
    
}
.botao{
    font-family: arial;
    font-size: 14px; /* tamanho do fundo*/
    text-transform: uppercase; /* sempre maiusculo*/
    font-weight: 700; /* negrito*/
    border: none; /* remove bordas*/
    padding: 10px;
    cursor: pointer; /* cursos mouse*/
    text-decoration: none; /* tirar undrline*/

}
.btn-color{
    background:#341933;
     color: #fff;
     box-shadow: 0 5px 0 #1e111d; /* caixa de tras*/

}

.btn-color:houver{
    background:#1e111d;
     color:#fff;
     box-shadow: 0 5px 0 #000000; /* caixa de tras*/

}
.btn-color:active{

    top: 5px;
    box-shadow:none
}
